.container{
  width: 98%;
  height: 100%;
  border: 3px solid #377ef0;
  border-radius: 10px;
  margin: 10px;

}.mainheader{
  width: 100%;
  height: 80px;
  background-color: #369;
  border-radius: 5px;


}.nav{
  width: 100%;
  height: 80px;
  background-color: #999;

}.btn{
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 0px;
  padding-left: 50px;

}.maincontent{
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
padding-left: 50px}
.input {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 10px 10px 233px;
}
.input {
  color: #377ef0;
}

}.input__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  width: 100px;

}.input {
  color: #eee;
}


.input[type='text'],
.input[type='password'],
.input[type='submit'] {
  border-radius: 0.25rem;
  padding: 20px;
  
}

.input {
  background-color: #ffffff;
  border-bottom-right-radius: 30px;
}

.input[type='gmail'],
.input[type='text'] {
  background-color: #3b4148;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 0;
}


}

.input[type='submit'] {
  background-color: #ea4c88;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom:; 
  padding-top:;
}
.a{
  height: 100%
width:100px;
  width: 70%;
  padding-left: 50px;
}
.p{
  float: right;
  font-size: 50px;
  color: #369;
  padding-left: 50px;
  padding-bottom: 70px;
}

img {
  position: absolute;
  top: 40px;
  margin-left: 15px;
}

input[type="submit"]:hover {
  background: #ddd !important;
  color: #000 !important;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]:active {
  box-shadow: none;
}

.header {
  width: 98%;
  height: 100px;
  background-color: white;
  border: 3px solid #377ef0;
  border-radius: 10px;
  margin: 10px;
}

h1 {
  color: #377ef0;
  padding-top: 37px;
  padding-left: 105px;
  margin-top: auto;
  font-family: monospace;
}

.navbar {
  width: 300px;
  height: 101%;
  margin-left: 15px !important;
  background-color: #377ef0;
  border-radius: 10px 0px 0px 10px;
  padding: 0 5px;
  float: left;
}

.main_content {
  width: 1292px;
  height: 100%;
  background-color: white;
  border: 3px solid #377ef0;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0 5px;
}






















